/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Lato', sans-serif;
  	font-size: .95em;
    font-weight: 300;
    color: black;
    background-color: #eee;
}

body::before, body::after {
     content: '';  
     background: #DBA901; 
     position: fixed;
     z-index: 999;
     height: 10px;  

}
 
body::before {
     width: 40%;  
     left: 0;
     top: 0;
     
}
 
body::after {
     width: 55%;  
     bottom: 0;
     right: 0;
     
}

p {
    font-size: 1.1em;
}

h1{

    font-family: 'Oswald', sans-serif;
    font-size:3em;
    text-transform: uppercase;
}



h2 {

    font-size: 1.4em;
    line-height: 2em;
}


h3{
font-size: 1.3em;
font-weight: 700;

}

h4{

  font-size: 1.2em;
  line-height: 2em;
 
}

li{

  font-size: 1em;
  line-height: 2em;

}

 ul{

  list-style:none;
  padding-left:0;
}



.paddingExtra{

  padding-top: 60px;
}

.paddingSection{
  
  padding: 40px 150px;
  margin: 20px auto;
  
}



/*------------------------------------------------------
NAVEGADOR
------------------------------------------------------*/
 nav{
    width: 100%;
    height: 90px; 
    letter-spacing: 2px;
    top: 0;
    left:0;
    transition: all .5s;
    position: fixed;
    z-index:3;
    line-height: 90px;
    padding: 0 50px;
    border-bottom: 1px dashed #000;
    background: #eee;

}

nav ul {
    float: right;
    margin-right: 20px;
}


 nav li {
    display: inline-block;  
    list-style: none;

}

nav a {
    padding: 8px 8px;
    display: block;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
    font-weight: 700;
    color: #000;

}

.logo{

  font-size: 2em;
  text-transform:uppercase;
  font-weight: 700;
  margin-left:0;
}
.logo:first-letter{

  background:black;
  color:#eee;
}


/*------------------------------------------------------
ABOUT, CONTACT
------------------------------------------------------*/
.circulo{

  border-radius: 90%;
  border: 1px dashed #000; 
  padding: 50px;
}

#inicio img{
  width:80%;
}

#contact img{
  width:60%;
}

.img-opacity img {
  position:absolute;
  margin: 30px;
  transition:all .6s ease-in-out;

}

.img-opacity .img-1 {
  opacity:1
}

.img-opacity .img-2 {
  opacity:0
}

.img-opacity:hover .img-1 {
  opacity:0
}
.img-opacity:hover .img-2 {
  opacity:1
}


.img-opacity:hover img{
transition:all 1.2s ease-in-out;

}

.paddingBottom{

  padding-bottom:30px;
}


/*------------------------------------------------------
EXPERIENCE
------------------------------------------------------*/

#experience h1, #skills h1{

text-align:center;
}

#experience h3 {
line-height: 2em;

}


#experience h3:last-child{

border-top-style: dotted;
border-color: rgba(219, 169, 1,.5);
border-width:1px;

}


#experience .devider{
  border-left: 2px solid rgba(0,0,0, 0.1);
   
}




#experience ul li:first-of-type{

  list-style: disc;
  color: rgba(219, 169, 1);
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 700;

}


#experience ul li:first-of-type:hover{

  list-style:square;
  color: grey;

}

#experience .devider:hover{

  font-weight:700;
  border-left: 3px solid rgba(0,0,0);



}

#experience h3:last-child:hover{

border-top: 2px solid rgba(219, 169, 1);


}


/*------------------------------------------------------
SKILLS
------------------------------------------------------*/
#habilidades h4:before{
content: "\f192";
font-family: "Font Awesome 5 Free";
margin-right: 5px;
color: rgba(219, 169, 1);
}

/*------------------------------------------------------
LANGUAGES
------------------------------------------------------*/

#languages{ 
  list-style: none;
  width: 296px;
  margin: 0px 5px;
  position: relative;
  line-height: 2em;
  padding: 30px 0;
  
}


#languages li { 
  margin-bottom:50px; 
  background:#e9e5e2;
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
  height:20px; 
  border-radius:10px; 
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   

}

#languages li h4 { 
  position:relative; 
  top:-30px;
}

.bar { 
  height:18px; 
  margin:1px 2px;  
  position:absolute;
  border-radius:10px;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;   
  
}

.boton{

  opacity:0;
}

.boton.visible{
  opacity: 1;
  
  
}

.spanish {
  width:99%; 
  transition:all .4s ease-out;
  background-color: #fdc508;
}

.galician {
  width:95%;
  transition:all .5s ease-out;
  background-color: #e9b301;
}

.german {
  width:70%;
  transition:all .6s ease-out;
  background-color: rgba(219, 169, 1);

}

.english {
  width:70%;
  transition:all .7s ease-out;
  background-color: #cc9e00;

}
.french {
  width:60%;
  transition:all .9s ease-out;
  background-color:#b08800;
}
.italian {
  width:55%;
  transition:all .9s ease-out;
  background-color: #947200;
}

/*------------------------------------------------------
CONTACT
------------------------------------------------------*/

#contact h2:before{

font-family: "Font Awesome 5 Free";
margin-right: 5px;
color: rgba(219, 169, 1);
font-weight: 900;

}


#contact h2:first-of-type:before{
content: "\f0e0";

}

#contact h2:nth-of-type(2):before {
  content: "\f3c5";
}

#contact h2:nth-of-type(3):before {
  content: "\f072";
}


/*------------------------------------------------------
LEGAL
------------------------------------------------------*/
#legal h1{

font-size:2em;
padding-bottom: 10px;
padding-top: 10px;

}
/*------------------------------------------------------
FOOTER
------------------------------------------------------*/
footer{

  text-align:center;
  line-height: .6em;
  padding:3em;


}


