/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Lato', sans-serif;
  	font-size: .95em;
    font-weight: 300;
    color: #002e43;
    background-color: #fff;
    
    
}

p {

    font-size: 1.1em;

}

h1{

    font-family: 'Oswald', sans-serif;
    font-size:3em;
    text-transform: uppercase;
    color: #fff;
}


h1:first-letter{

width: 20px;
height: 20px;
border-radius: 30px;

}


h2 {

    font-size: 1.4em;
    line-height: 2em;
}


h3{
font-size: 1.3em;
font-weight: 700;

}

h4{

  font-size: 1.2em;
 
}

li{

  font-size: 1em;
  line-height: 2em;

}

 ul{

  list-style:none;
  padding-left:0;
}

.circulo{

  border-radius: 90%;
  margin: 10px 30px;

}

.paddingExtra{

  padding-top: 60px;
}

.paddingSection{
  
  padding: 50px 120px;
  margin: 40px;
  
}

.smallPadding{
  
  padding: 20px;

  
}
/*------------------------------------------------------
NAVEGADOR
------------------------------------------------------*/
 nav{
    width: 100%;
    height: 90px;
    background: rgba(0, 46, 67, .6);  
    letter-spacing: 2px;
    top: 0;
    left:0;
    transition: all .5s;
    position: fixed;
    z-index:3;
    line-height: 90px;
    padding: 0 50px;

}

nav ul {
    float: right;
    margin-right: 20px;
}


 nav li {
    display: inline-block;  
    list-style: none;

}

nav a {
    color:#fff;
    padding: 8px 8px;
    display: block;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
    font-weight: 700;

    
}


/*------------------------------------------------------
PROFILE
------------------------------------------------------*/


#inicio h1{

  text-shadow: 0 0 2px #002e43, 0 0 2px #002e43, 0 0 2px #002e43;
}

#inicio h1:first-letter{

background: #002e43; 

}

#inicio .circulo{
background: url("../img/intTrade.png") no-repeat center;
position: relative;

}


/*------------------------------------------------------
PROFILE
------------------------------------------------------*/
#experience h1:first-letter{

background: #e38530;

}

#experience h1{

text-shadow: 0 0 2px #e38530, 0 0 2px #e38530, 0 0 2px #e38530;
text-align:center;
}

#experience h3, #experience h4{
line-height: 3em;
}

#experience h4{

color: #e38530;

}

#experience h3:last-child{

border-bottom-style: dotted;
border-color: #e38530;
border-width:1px;
border-radius:5px;

}

#experience h4:last-line{

  color:green;
}







/*------------------------------------------------------
SKILLS
------------------------------------------------------*/
#skills h1{

text-shadow: 0 0 3px #e4535e, 0 0 3px #e4535e, 0 0 3px #e4535e;
  
}

#skills h1:first-letter{

background: #e4535e;

}
/*------------------------------------------------------
PROFILE
------------------------------------------------------*/


/*------------------------------------------------------
PROFILE
------------------------------------------------------*/

/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/

/* IMAGENES y COLORES

AZUL MARINO background: rgba(0, 46, 67, .8);  


<a href='https://www.freepik.com/free-vector/modern-international-trade-concept-with-flat-design_2533535.htm'>Designed by Freepik</a> */