/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Lato', sans-serif;
  	font-size: .95em;
    font-weight: 300;
    color: black;
    background-color: #eee;
}

body::before, body::after {
     content: '';  
     background: #DBA901; 
     position: fixed;
     z-index: 999;
     height: 10px;  

}
 
body::before {
     width: 40%;  
     left: 0;
     top: 0;
     
}
 
body::after {
     width: 60%;  
     bottom: 0;
     right: 0;
     
}

p {
    font-size: 1.1em;
}

h1{

    font-family: 'Oswald', sans-serif;
    font-size:3em;
    text-transform: uppercase;
}



h2 {

    font-size: 1.4em;
    line-height: 2em;
}


h3{
font-size: 1.3em;
font-weight: 700;

}

h4{

  font-size: 1.2em;
  line-height: 2em;
 
}

li{

  font-size: 1em;
  line-height: 2em;

}

 ul{

  list-style:none;
  padding-left:0;
}



.paddingExtra{

  padding-top: 60px;
}

.paddingSection{
  
  padding: 50px 120px;
  margin: 40px;
  
}



/*------------------------------------------------------
NAVEGADOR
------------------------------------------------------*/
 nav{
    width: 100%;
    height: 90px; 
    letter-spacing: 2px;
    top: 0;
    left:0;
    transition: all .5s;
    position: fixed;
    z-index:3;
    line-height: 90px;
    padding: 0 50px;
    border-bottom: 1px dashed #000;
    background: #eee;

}

nav ul {
    float: right;
    margin-right: 20px;
}


 nav li {
    display: inline-block;  
    list-style: none;

}

nav a {
    padding: 8px 8px;
    display: block;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
    font-weight: 700;
    color: #000;

}

.logo{

  font-size: 2em;
  text-transform:uppercase;
  font-weight: 700;
  margin-left:0;
}
.logo:first-letter{

  background:black;
  color:#eee;
}


/*------------------------------------------------------
PROFILE, CONTACT
------------------------------------------------------*/
.circulo{

  border-radius: 90%;
  border: 1px dashed #000; 
  padding: 40px;
}

img{
  width:80%;
}

.img-opacity img {
  position:absolute;
  margin: 0px;
  transition:all .6s ease-in-out;

}

.img-opacity .img-1 {
  opacity:1
}

.img-opacity .img-2 {
  opacity:0
}

.img-opacity:hover .img-1 {
  opacity:0
}
.img-opacity:hover .img-2 {
  opacity:1
}


.img-opacity:hover img{
transition:all 1.2s ease-in-out;

}




/*------------------------------------------------------
EXPERIENCE
------------------------------------------------------*/

#experience h1{

text-align:center;
}

#experience h3, #experience h4{
line-height: 3em;

}

#experience h4{

color: rgba(219, 169, 1);

}

#experience h3:last-child{

border-top-style: dotted;
border-color: rgba(219, 169, 1,.7);
border-width:1px;


}


#experience .devider {
  border-left: 2px solid rgba(0,0,0, 0.1);
}

#experience .devider:hover{

  font-weight:700;
  border-left: 3px solid rgba(0,0,0);

}

#experience h3:last-child:hover{

border-top: 2px solid rgba(219, 169, 1);


}

#experience::before, #experience::after {
     content: '';  
     background: #DBA901; 
     position: fixed;
     z-index: 999;
     height: 10px;  

}





/*------------------------------------------------------
SKILLS
------------------------------------------------------*/

/*------------------------------------------------------
PROFILE
------------------------------------------------------*/


/*------------------------------------------------------
PROFILE
------------------------------------------------------*/

/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/

/* IMAGENES y COLORES

AZUL MARINO background: rgba(0, 46, 67, .8);  
amarillo f9c231



<a href='https://www.freepik.com/free-vector/modern-international-trade-concept-with-flat-design_2533535.htm'>Designed by Freepik</a> */